* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(red, green, blue);
    background-size: cover;
}

.page {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}